
python-dotenv
streamlit
langchain
langchain-openai
langchain-groq
langchain-google-genai
langchain-core
faiss-cpu
sentence-transformers
pypdf
google-search-results
streamlit
langchain
langchain-openai
langchain-groq
langchain-google-genai
langchain-core
faiss-cpu
sentence-transformers
pypdf
google-search-results
